html {
    scroll-behavior: smooth;
}

* {
    /*padding: 0;*/
    /*margin: 0;*/
}

body {
    font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/*.............................custom design......................................*/

.card-img-wrap {
    overflow: hidden;
    position: relative;
}

.img-zoom-in:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity .25s;
}

.img-zoom-in img {
    transition: transform .25s;
    width: 100%;
}

.img-zoom-in:hover img {
    transform: scale(1.2);
}

.img-zoom-in:hover:after {
    opacity: 1;
}

.text-bold {
    font-weight: bold;
}
.text-small {
    font-size:small;
}

.site-color {
    color: #FF5E14;
}

.bg-site-color {
    background-color: #FF5E14;
}

.btn-viewAll span {
    padding: 0 10px;
    color: black;
    font-size: 12px;
    text-transform: capitalize;
}

.btn-viewAll i {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 7px;
    color: black;
}

.btn-viewAll:hover {
    cursor: pointer;
    border: 1px solid #FF5E14 !important;
    border-radius: 8px;
    background-color: rgba(255, 94, 20, 0.8);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.btn-viewAll:hover > span {
    color: white;
}

.btn-viewAll:hover > i {
    color: white;
    background-color: #FF5E14;
}


.hover-site-color:hover {
    color: #FF5E14 !important;
    text-decoration: none;
}

.custom-heading {
    width: 100%;
    float: left;
    position: relative;
}

.custom-heading::before {
    background-color: #FF5E14;
    content: '';
    height: 0.625em;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 0.9375em;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-heading::after {
    background-color: #D9D9F4;
    content: '';
    height: 0.625em;
    position: absolute;
    left: 80px;
    top: 50%;
    width: calc(100% - 5em);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-heading p {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    float: left;
    position: relative;
    text-transform: uppercase;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    z-index: 550;
}

.custom-heading p::before {
    background-color: #FFFFFF;
    content: '';
    height: 100%;
    position: absolute;
    left: -0.375em;
    top: 0;
    width: calc(100% + 0.75em);
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    z-index: -1;
}

.custom-heading p a {
    color: #000000 !important;

}

.custom-heading p a:hover, .custom-heading p a:focus {
    color: #FF5E14;
}

#scrollTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #FF5E14; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 18px; /* Increase font size */
}

#scrollTop:hover {
    background-color: black; /* Add a dark-grey background on hover */
    color: #FF5E14;
}

/*end custom design*/
/*.................................header part css..............................*/
.header-top-section .header-top {
    background-color: #FF5E14;
}

.header-top-section .navbar .navbar-nav .nav-link {
    color: white;
}

.header-top-section .navbar .navbar-brand {
    background-color: white;
    padding: 5px 2rem;
    font-weight: 600;
}

.header-mid-section {

}

.header-end-section .navbar {
    background-color: #F4F4FC;
}

.header-end-section .navbar .navbar-nav .nav-link {
    color: black;
}

.header-end-section .social-unicode .nav-item .nav-link {
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.header-end-section .social-unicode .nav {
    line-height: 40px;
}

/*end header part css*/
/*.................................main content css.................................*/
.card.front_body_position_1 .card-body, .card.front_body_position_2 .card-body, .card.front_body_position_3 .card-body, .card.front_body_position_4 .card-body,
.card.front_body_position_5 .card-body, .card.front_body_position_6 .card-body, .card.front_body_position_7 .card-body, .card.front_body_position_8 .card-body,
.card.front_body_position_9 .card-body, .card.front_body_position_10 .card-body, .card.front_body_position_11 .card-body, .card.front_body_position_12 .card-body,
.card.front_body_position_13 .card-body, .card.front_body_position_14 .card-body, .card.front_body_position_15 .card-body,
.card.detail_body_position_1 .card-body, .card.detail_body_position_2 .card-body, .card.detail_body_position_3 .card-body,
.card.recommendation .card-body, .card.sub-recommendation .card-body, .card.tag-collection .card-body, .card.detail-body .card-body
{
    padding-left: 0;
    padding-right: 0;
}

.card.front_body_position_1 .card-body .card .card-body, .card.front_body_position_2 .card-body .card .card-body, .card.front_body_position_3 .card-body .card .card-body,
.card.front_body_position_4 .card-body .card .card-body, .card.front_body_position_5 .card-body .card .card-body, .card.front_body_position_6 .card-body .card .card-body,
.card.front_body_position_7 .card-body .card .card-body, .card.front_body_position_8 .card-body .card .card-body, .card.front_body_position_9 .card-body .card .card-body,
.card.front_body_position_10 .card-body .card .card-body, .card.front_body_position_11 .card-body .card .card-body, .card.front_body_position_12 .card-body .card .card-body,
.card.front_body_position_13 .card-body .card .card-body, .card.front_body_position_14 .card-body .card .card-body, .card.front_body_position_15 .card-body .card .card-body,
.card.detail_body_position_1 .card-body .card .card-body, .card.detail_body_position_2 .card-body .card .card-body, .card.detail_body_position_3 .card-body .card .card-body,
.card.news-by-category .card-body .card .card-body
{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 13px;
    padding-right: 0;
}

.card.front_body_position_1 .news-title, .card.front_body_position_2 .news-title, .card.front_body_position_3 .news-title,
.card.front_body_position_4 .news-title, .card.front_body_position_5 .news-title, .card.front_body_position_6 .news-title,
.card.front_body_position_7 .news-title, .card.front_body_position_8 .news-title, .card.front_body_position_9 .news-title,
.card.front_body_position_10 .news-title, .card.front_body_position_11 .news-title, .card.front_body_position_12 .news-title,
.card.front_body_position_13 .news-title, .card.front_body_position_14 .news-title, .card.front_body_position_15 .news-title,
.card.detail_body_position_1 .news-title, .card.detail_body_position_2 .news-title, .card.detail_body_position_3 .news-title,
.card.recommendation .news-title, .card.sub-recommendation .news-title,
.card.news-by-category .news-title
{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.card.front_body_position_1 .news-title a, .card.front_body_position_2 .news-title a, .card.front_body_position_3 .news-title a,
.card.front_body_position_4 .news-title a, .card.front_body_position_5 .news-title a, .card.front_body_position_6 .news-title a,
.card.front_body_position_7 .news-title a, .card.front_body_position_8 .news-title a, .card.front_body_position_9 .news-title a,
.card.front_body_position_10 .news-title a, .card.front_body_position_11 .news-title a, .card.front_body_position_12 .news-title a,
.card.front_body_position_13 .news-title a, .card.front_body_position_14 .news-title a, .card.front_body_position_15 .news-title a,
.card.detail_body_position_1 .news-title a, .card.detail_body_position_2 .news-title a, .card.detail_body_position_3 .news-title a,
.card.recommendation .news-title a, .card.sub-recommendation .news-title a,
.card.news-by-category .news-title a
{
    color: black;
}

.card.front_body_position_1 .news-author a, .card.front_body_position_2 .news-author a, .card.front_body_position_3 .news-author a,
.card.front_body_position_4 .news-author a, .card.front_body_position_5 .news-author a, .card.front_body_position_6 .news-author a,
.card.front_body_position_7 .news-author a, .card.front_body_position_8 .news-author a, .card.front_body_position_9 .news-author a,
.card.front_body_position_10 .news-author a, .card.front_body_position_11 .news-author a, .card.front_body_position_12 .news-author a,
.card.front_body_position_13 .news-author a, .card.front_body_position_14 .news-author a, .card.front_body_position_15 .news-author a,
.card.detail_body_position_1 .news-author a, .card.detail_body_position_2 .news-author a, .card.detail_body_position_3 .news-author a,
.card.recommendation .news-author a, .card.sub-recommendation .news-author a,
.card.news-by-category .news-author a
{
    color: gray;
    font-size: 11px;
    font-weight: bold;
}

.card.front_body_position_1 .news-author a i.fa, .card.front_body_position_2 .news-author a i.fa, .card.front_body_position_3 .news-author a i.fa,
.card.front_body_position_4 .news-author a i.fa, .card.front_body_position_5 .news-author a i.fa, .card.front_body_position_6 .news-author a i.fa,
.card.front_body_position_7 .news-author a i.fa, .card.front_body_position_8 .news-author a i.fa, .card.front_body_position_9 .news-author a i.fa,
.card.front_body_position_10 .news-author a i.fa, .card.front_body_position_11 .news-author a i.fa, .card.front_body_position_12 .news-author a i.fa,
.card.front_body_position_13 .news-author a i.fa, .card.front_body_position_14 .news-author a i.fa, .card.front_body_position_15 .news-author a i.fa,
.card.detail_body_position_1 .news-author a i.fa, .card.detail_body_position_2 .news-author a i.fa, .card.detail_body_position_3 .news-author a i.fa,
.card.recommendation .news-author a i.fa, .card.sub-recommendation .news-author a i.fa,
.card.news-by-category .news-author a i.fa
{
    font-size: 10px;
    color: #FF5E14;
}

.card.front_body_position_1 .news-short-description, .card.front_body_position_2 .news-short-description, .card.front_body_position_3 .news-short-description,
.card.front_body_position_4 .news-short-description, .card.front_body_position_5 .news-short-description, .card.front_body_position_6 .news-short-description,
.card.front_body_position_7 .news-short-description, .card.front_body_position_8 .news-short-description, .card.front_body_position_9 .news-short-description,
.card.front_body_position_10 .news-short-description, .card.front_body_position_11 .news-short-description, .card.front_body_position_12 .news-short-description,
.card.front_body_position_13 .news-short-description, .card.front_body_position_14 .news-short-description, .card.front_body_position_15 .news-short-description,
.card.detail_body_position_1 .news-short-description, .card.detail_body_position_2 .news-short-description, .card.detail_body_position_3 .news-short-description,
.card.news-by-category .news-short-description
{
    color: black;
    font-size: 12px;
    font-weight: bold;
}
.card.sub-child-category .card.overlay-main .card-img-overlay {
    /*padding: 0 15px;*/
}
.card.sub-child-category .card.overlay-main .sub-category-overlay-title p {
    color: white!important;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    line-height: 10px;
}
.card.sub-child-category .card.overlay-main .sub-category-overlay-title .hover-site-color:hover {
    color: #FF5E14!important;
}



/*end main content css*/
/*.....................................footer part css...................................*/
footer {
    background: #FF5E14;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top: 100px;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoInstagram:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoInstagram:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}

/*end footer part css*/
/*..........................................................................................................*/


.pagination .active-btn span {
    background-color: #FF5E14 !important;
    color: white !important;
    border-color: #FF5E14 !important;
}

.pagination .page-link {
    color: black;
    margin: 5px;
}


/*.front_body_position_3, .front_body_position_5, .front_body_position_7 {
    margin-bottom: 15px;
}*/

.video-details .details-header .post-info span {
    float: left;
}

.video-details .details-header .post-info span img {
    background: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px;
    margin-right: 8px;
}

.video-details .details-header .post-info p {
    margin-bottom: 0;
    font-size: 12px;
}

.video-details .details-header .post-info a {
    color: #FF5E14;
    margin-bottom: 0;
    font-size: 12px;
}

.video-details .details-header .post-info .post-info-details {
    padding: 0;
    margin-top: -4px;
}

.video-details .details-header .post-info .post-info-details li {
    padding: 0em 0em;
    display: inline;
    font-size: 12px;
}

.video-details .details-header .post-info .post-info-details li a {
    color: gray;
}

.video-details .details-header .post-info .post-info-share li {
    padding: 0em 0.25em;
    display: inline;
    color: gray;
}

.video-details .details-header .post-info .post-info-share span {
    margin-right: 10px;
    margin-top: 16px;
    color: gray;
}

.video-details .details-header .post-info .post-info-share span strong {
    margin-right: 10px;
    margin-top: 16px;
    color: gray;
}

.video-details .details-header .post-info .post-info-share .social-media a i {
    background: #f7976b;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    line-height: 2;
    text-align: center;
}

.video-details .details-header .post-info .post-info-share .social-media:hover a i {
    border-radius: 50%;
}

/*
.video-details .details-header .news-title {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: bold;
}
*/

.thumbnail {
    position: relative;
}

.thumbnail i {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 9999;
}

.thumbnail i:hover {
    color: #FF5E14;
}

/*.fixed-height-img figure img {
    !*background-color: red !important;*!
    padding: 10px 0;
    height: 200px !important;
    object-fit: cover;
    width: 100%;
}

.fixed-height-img-2 figure img {
    !*background-color: red !important;*!
    height: 75px !important;
    object-fit: cover;
    width: 100%;
}*/

/*.featured-img-fixed-height{
    height: 300px !important;
    border: 1px solid white;
    overflow: hidden;
}*/

/*.featured-img-fixed-height figure img {
    !*background-color: red !important;*!
    height: 300px !important;
    object-fit: fill;
    width: 100%;
}*/

/* [1] The container */
.img-hover-zoom {
    height: 200px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* Point-zoom Container */
.img-hover-zoom--point-zoom img {
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
}

/* The Transformation */
.img-hover-zoom--point-zoom:hover img {
    transform: scale(5);
}

.img-hover-zoom--point-zoom:hover i {
    color: #FF5E14;
}

.video-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.video-section iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd; /* Gray border */
    padding: 10px; /* Some padding */
}

/*.recommendation-card {
    margin: 15px 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    padding: 6px !important;
}

.recommendation-card:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14);
}

.recommendation-card figure {
    height: 200px !important;
    !*background-color: black;*!
    !*padding: 10px;*!
    overflow: hidden;
}

.recommendation-card img {
    height: 100%;
}*/

.custom-tag {
    border-radius: 35px;
    line-height: 30px;
    font-size: 14px;
    color: white;
    padding: 4px 10px;
    background-color: #FF5E14;
}

.custom-tag:hover {
    cursor: pointer;
    background-color: black;
}

.search-button i {
    font-size: 18px !important;
    overflow-x: hidden;
}

.searchBody {
    padding: 6px 13px;
    margin: 0 13px;
    background-color: #DDDDDD;
}

.searchBody input, .searchBody button {
    border-radius: 50px;
    height: 45px;
}

.searchBody button:hover {
    background-color: #FF5E14 !important;
}

.custom-card-title {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.overlay-main .card-img-overlay {
    padding: 0 15px;
}

.overlay-main .card-img-overlay p {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 4em;
    font-weight: 600;
}


