
@media only screen and (max-width: 768px) {
    .card.front_body_position_1 .card-block .card .card-body, .card.front_body_position_2 .card-block .card .card-body, .card.front_body_position_3 .card-block .card .card-body,
    .card.front_body_position_4 .card-block .card .card-body, .card.front_body_position_5 .card-block .card .card-body, .card.front_body_position_6 .card-block .card .card-body,
    .card.front_body_position_7 .card-block .card .card-body, .card.front_body_position_8 .card-block .card .card-body, .card.front_body_position_9 .card-block .card .card-body,
    .card.front_body_position_10 .card-block .card .card-body, .card.front_body_position_11 .card-block .card .card-body, .card.front_body_position_12 .card-block .card .card-body,
    .card.front_body_position_13 .card-block .card .card-body, .card.front_body_position_14 .card-block .card .card-body, .card.front_body_position_15 .card-block .card .card-body,
    .card.detail_body_position_1 .card-block .card .card-body, .card.detail_body_position_2 .card-block .card .card-body, .card.detail_body_position_3 .card-block .card .card-body,
    .card.news-by-category .card-block .card .card-body
    {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0!important;
        padding-right: 0;
    }
    .rounded-img {
        max-height: 95px;
        max-width: 95px;
        height: 95px!important;
        width: 95px!important;
        /*border-radius: 100%;*/
        /*object-fit: cover;*/
    }

    /*.card.front_body_position_1, .card.front_body_position_2, .card.front_body_position_3, .card.front_body_position_4, .card.front_body_position_5, .card.front_body_position_6
    , .card.front_body_position_7, .card.front_body_position_8, .card.front_body_position_9, .card.front_body_position_10, .card.front_body_position_11, .card.front_body_position_12
    , .card.front_body_position_13, .card.front_body_position_14, .card.front_body_position_15{
        padding-left: 15px;
        padding-right: 15px;
    }*/
/*.left-middle-1-section .col-12, .left-middle-2-section .col-12, .left-middle-3-section .col-12, .left-middle-4-section .col-12,
.left-middle-5-section .col-12, .above-footer-section .col-12 {
    padding-left: 0;
    padding-right: 0;
}
    .left-middle-2-section .col-12 .card .card-body .row-card, .left-middle-4-section .col-12 .card .card-body .row-card,
    .above-footer-section .col-12 .card .card-body .row-card {
        padding-left: 15px;
        padding-right: 15px;
    }*/

}
